* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

menu {
    background-color: rgb(5, 5, 5);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.menu-itens {
    color: #ecfd04;
    /*Define a cor do texto*/
    text-decoration: none;
    /*Retira o traço de link da palavra*/
    padding: 10px 20px;
    font-size: 18px;
    /*Define o tamanho do texto*/
    display: inline-block;
    /*Deixa o item como o bloco em uma linha*/
}

.menu-itens:hover {
    /*É um evento de mouse que ocorre uma ação toda vez que colocamos o mouse em cima do elemento*/
    background-color: #d3dd4d;
    color: #0d0d0e;
    width: 220px;
    padding: 15px 25px;
    border-radius: 8px;
    /*Arredondar as bordas de um 
    elemento*/
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.descricao {
    position: relative;
    width: 400px;
    background: white;
    border-radius: 15px;
    padding: 25px 20px;

}

.descricao h5 {
    font-size: 25px;
    padding: 5px;
    text-align: center;
}

.descricao a {
    color: #161616;
    background-color: #d1d400;
    font-size: 19px;
    border-radius: 90px;
    padding: 9px 11px;
}

.descricao a:hover {
    text-decoration: none;
    background-color: #8a8683;
    color: #474747;
}

.descricao p {
    color: #161616;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding: 5px;

}